body {/*background-color: #D3D3D3;*/
    background-color: #ffffff;
    color: #10172A;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 150px;
    margin-right: 150px;
}
h1 {
    font-family: 'Radio Canada', sans-serif;
    text-align: center;
}
.row {
    display: flex;
}
.column {
    flex: 1;
    padding: 5px;
}
.imagedesc1, .imagedesc2 {
    font-size: smaller;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}
.alberto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.textflex {
    display: flex;
}
.textcol1 {
    flex: 4;
}
.textcol2 {
    flex: 1;
}
.wwhdsplits {
    margin-left: 30px;
    height: 500px;
}
.wwhd_oob {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    max-width: 100%;
}
a:link {
    text-decoration: none;
    color: #000000;
}
a:visited {
    color: #000000;
}
a:hover {
    text-decoration: underline;
    color: #000000;
}
nav a {
    margin: 10px;
}
nav {
    display: flex;
    background-color: #1c699c98;
    color: #ffffff;
    justify-content: space-evenly;
    border-radius: 1em;
    margin-left: 100px;
    margin-right: 100px;
}
.img1, .img2, .img3, .img4 {
    width: 150px;
    height: 200px;
    object-fit: cover;
    max-width: 100%;
}
.imgfooter {
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.banner {text-align: center;}
.gdqphoto {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 420px;
    padding-right: 15px;
}
.gdqheader {
    display: flex;
    margin-right: 30px;
    align-items: center;
}
.diffheader {
    display: flex;
    align-items: center;
}
.diffvid {flex: 2;}
.difftext {flex: 2;}
.leaderboard {
    width: 100%;
    max-width: 600px;
}
.alberto {
    max-width: 700px;
    width: 100%;
}
.twitchvid {
    max-width: 620px;
    width: 100%;
    padding-left: 30px;
}
.gdqimages {
    display: flex;
}
.agdq2013 {
    width: 500px;
    padding-right: 15px;
    flex: 1;
}
.gymgdq {
    width: 600px;
    padding-left: 15px;
    flex: 1;
}
.gdqcol {display: none;}
footer {
    margin-left: 280px;
    margin-right: 280px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2em;
    background-color: #1c699c98;
    font-size: large;
    display: flex;
}
.footercol1 {
    flex: 3;
}
.footercol1 a {
    display:block;
    padding-top: 10px;
}
.footercol2 {
    flex: 1;
}
#skip {
    position: absolute;
    left: -999px;
}
#skip:focus {
    left: 10px;
    background-color: orange;
    padding: 5px;
}
@media only screen and (max-width: 1200px) {
    footer a {
        width: 100%;
        display:block;
        padding-bottom: 10px;
    }
    footer {
        margin: 0px;
    }
    .imgfooter {
        display: none;
    }
    .gdqheader {
        display: block;
        margin: auto;
    }
    .gdqphoto {
        margin: auto;
    }
    .gdqheadtext {
        display: none;
    }
    .gdqcol {
        display: block;
        flex: 2;
        padding-left: 15px;
        padding-right: 15px;
    }
    .gdqrow {
        display: flex;
        align-items: center;
    }
    .gdqimages {
        display: block;
    } /* removes flex from .gdqimages */
    .gymgdq { /* removes original left padding, adds space between .gdqimages */
        padding-left: 0px; 
        padding-top: 20px;
    }
    .gymgdq, .agdq2013 {
        max-width: 730px;
        width: 100%;
        margin: auto;
    }
    .diffheader {display: block;}
    .twitchvid {padding: none;}
    .diffvid {
        padding: none;
        text-align: center;
    }
}
@media screen and (max-width: 730px) {
    nav {
        display:block;
        padding-top: 5px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }
    nav a {width: 100%;
            display: block;
            padding-bottom: 10px;} /* this style only when viewpoint 600px or less */
    nav span {display: none;} /* takes away element when size is below 600px */
    .textflex {display: block;}
    .row {display: block;}
    .textcol2 {
        text-align: center;
    }
    .wwhdsplits {margin-left: 0px;}
    .gdqrow {
        display: block;
    }
    .gdqcol {
        padding-left: 0px;
        padding-right: 0px;
    }
    .twitchvid {padding-left: 0px;}
    .leaderboard {width: 510px;}
}
@media screen and (max-width: 650px) {
    .leaderboard {display: none;}
}